<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Range Ping App</title>
    <div class="jumbotron">
        <h1 class="display-4">IP Range Ping</h1>
        <p class="lead">This Program Pings(ICMP) all the given IP's in the range concurrently
            with a timeout of 5 seconds (~ approx 5 Packets) and checks if the IP is reachable</p>
        <h6 class="text-right">-Resiliency Orchestration RedHat Openshift</h6>
    </div>
</head>
<body>
<div class="container">
    <h2 class="display-6">Available or not Reachable</h2>
    <h6>There are {{ .AvailLen }} IPs Available in the Given Range</h6>
    {{with .Available }}
    {{ range . }}
        <li class="list-group-item list-group-item-success">{{ . }}</li>
    {{ end}}
{{end}}
    <h2 class="display-6">Utilized or Reachable</h2>
{{with .Occupied }}
    {{  range . }}
        <li class="list-group-item list-group-item-danger">{{ . }}</li>
    {{ end }}
{{end}}
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
